
.cabecalho {
    position: absolute;
    top: -2.5em;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #103d4a;
    padding-bottom: .5em;
}

.cabecalho-logo{
 margin-bottom: .2em;
}

.cabecalho-logo-img{
margin: 0 auto;
display: block;
transition: filter .3s;
}

.cabecalho-logo-img:hover,
.cabecalho-logo-img:focus{
     filter: brightness(1.2);
}

.cabecalho-nav-item{
    text-align: center;
}

.cabecalho-nav-item{
    display: inline-block;
    line-height: 2;
    margin: 0.5em;
    font-size: .95em;

}

.contatoCampo {
    margin: .8em auto;
    max-width: 600px;
    position: relative;
}

.contatoCampo-label:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    transform: translate(-7px, -3px);
    border: 1px solid #7D7D7D;
    color: transparent;
    line-height: 1;
    transition: .2s ease-in;
}

.contatoCampo-checkbox:checked + .contatoCampo-label:before {
content: 'x';
color: #fff;
background-image: radial-gradient(cicle, #2da4e7, #2f80ed);
}

.contatoCampo-chechbok {
     /*display:none*/
     /*visibility: hidden*/
     left: -9999px;
 }


 .contato-icone{
    left: -2;
    top: 2.5em;
    width: 1.5em;
 }


 .contatoCampo label,
 .contatoCampo input: not([type='checkbox']),
 .contatoCampo textarea {
    display : block;
    width: 100%;
    text-aling:left;
 }
 